body{
	width:100%;
}
#content{
	margin:0 auto;
	padding-top:50px;
}
h1{
	font-family:'century gothic', arial, sans-serif;
	margin-top:20%;
	padding:0;
	text-align:center;
}
.video{
	background-repeat:no-repeat;
	display:inline-block;
	height:220px;
	float:left;
	margin:30 25 30 25;
	position:relative;
	width:400px;
}
video{
	top:40px;
	position:absolute;
}
.videobox{
	margin-top:100px;
	position:relative;
	height:1000px;
}#left{
	float:left;
	width:50%;
}
#right{
	float:right;
	width:50%;
}
/*
h1{
	font-family:'century gothic', arial, sans-serif;
	padding:0;
	text-align:center; 
}

.video{
	background-repeat:no-repeat;
	display:inline-block;
	height:400px;
	float:left;
	margin:30 15 30 15;
	position:relative;
	width:420px;
}
video{
	margin-top:100px;
	width:400px;
}
#one{
	background-image:url('images/00.png');
}
#two{
	background-image:url('images/01.png');
}
#three{
	background-image:url('images/02.png');
}
#four{
	background-image:url('images/03.png');
}
#five{
	background-image:url('images/04.png');
}
#six{
	background-image:url('images/05.png');
}
#seven{
	background-image:url('images/06.png');
}
#eight{
	background-image:url('images/07.png');
}*/